save-exact=true

# npm registries
always-auth=true
//registry.npmjs.org/:_authToken=${NPM_TOKEN}

# peer dependency
auto-install-peers=false
strict-peer-dependencies=true

# cli
loglevel=info
engine-strict=true

# run
enable-pre-post-scripts=false
shell-emulator=true
